html
  head
    load('/template/assets/css/style.css /template/assets/css/extras.css')
    title
        site.title
    meta(name="description", content=site.raw_content)
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(content="yes", name="apple-mobile-web-app-capable")
    meta(content="black", name="apple-mobile-web-app-status-bar-style")
    meta(content="telephone=no", name="format-detection")
  body
    block body
    load('jquery')
    load('template/assets/js/app.js')
      