footer
  div.container
    p &copy; 2014 &nbsp; Boom Lee &nbsp; All Rights Reserved.
    p  
      a(href="http://timothy-long.com/entropy") Entropy Theme
      | &nbsp; by
      a(href="http://timothy-long.com") Timothy Long
      | &nbsp; Customize By
      a(href="/") Boom Lee